.homeContainer{
   display: flex;
 
   height: 100vh;
   width: 100vw;
   overflow-x: hidden;
   background: linear-gradient(to right,rgb(201, 222, 219),rgb(239, 246, 213));
   
 }
 .sidebarContainer{
   width: 20vw;
   
   position: fixed;
   
 }
 
 .contentContainer{
   margin-left: 20vw;
   width: 100%;
   
   
 }
 
 /* Media Queries for Responsiveness */
 @media (max-width: 600px) {
   .header-footer-container {
     margin-left: 25vw;
   }
 }
 
 @media (max-width: 480px) {
   .header-footer-container {
     margin-left: 25vw;
   }
 }