.gridContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 2vw;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
 
  
  flex-wrap: wrap;
  
}

